extends ../layout/base_monitoring 
block content         
        section.content-header
          h1
            | Dashboard
            small Monitoring Tangki
          ol.breadcrumb
            li
              a(href='#')
                i.fa.fa-dashboard
                |  Home
            li.active Dashboard
        // Main content
        section.content
          // Small boxes (Stat box)
          .row
            .col-lg-3.col-xs-6
              // small box
              .small-box.bg-aqua
                .inner
                  h3
                    | 53 
                    sup(style='font-size: 20px') CM
                  p Tinggi Air
                .icon
                  i.fa.fa-tint
                a.small-box-footer(href='http://localhost:1234/customer/tangki_air/detail')
                  | More info 
                  i.fa.fa-arrow-circle-right
          .row
            .col-xs-12
              .box
                .box-header
                  h3.box-title Tabel Monitoring Tangki Air
                // /.box-header
                .box-body
                  table#example1.table.table-bordered.table-striped
                    thead
                      tr
                        th ID
                        th Date
                        th Time
                        th Harga
                        th Berat                      