header.main-header
	a(href='http://localhost:1234/depot').logo
		span.logo-mini
			<b>A</b> LT
		span.logo-lg
			<b>Dashboard</b> 
	nav(role='navigation').navbar.navbar-static-top
		a(href='http://localhost:1234/', role='button', data-toggle='offcanvas').sidebar-toggle
			span.sr-only Toggle Navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		div.navbar-custom-menu
			ul.nav.navbar-nav
				li.dropdown.notifications-menu
					a(href='#').dropdown-toggle
						i.fa.fa-bell-o
						span.label.label-warning
							|  #{pass}
	
				li.dropdown.user.user-menu
					a(href='#',data-toggle='dropdown').dropdown-toggle
						img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').user-image
						span.hidden-xs
							| #{showAdmin[0].username}
					ul.dropdown-menu
						li.user-header
							img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').img-circle
							p
								| #{showAdmin[0].username} - Administrator
								small
									| Member since May 2018

						li.user-footer
							.pull-left
								a(href='http://localhost:1234/depot/edit/#{showAdmin[0].id_admin}').btn.btn-default.btn-flat
									| Profile
							.pull-right
								a(href='http://localhost:1234/logout').btn.btn-default.btn-flat
									| Sign out